@import url('https://fonts.googleapis.com/css?family=Bellefair|Lato');

#header{
    /* do this stuff to the id of header */
    float: right;
    width: 80%;
    text-align: left;
    display: inline-block;
}

#selfie {
    float: left;
    width: 20%;
    display: inline-block;
}

#selfie img{
    border-radius: 50%;
    height: 200px;
    margin: 10px;
}

h1, h2, h3 {
    /* do this stuff to them*/
    font-family: 'Lato', sans-serif; 
}

p, li {
    font-family: 'Bellefair', serif;
    font-size: 18px;
}
h1{
    color: blue;
    font-size: 50px;
}

.main-content{
    width: 80%;
    margin: 0 auto;
}

